django>=2.2,<2.3
psycopg2>=2.8,<2.9
django-filter>=2.2,<2.3
django-widget-tweaks>=1.4,<1.5
djangorestframework>=3.11,<3.12
requests>=2.23,<2.24
gunicorn>=20.0,<20.1
django-heroku>=0.3,<0.4
wheel>=0.34,<0.35
dj-database-url>=0.5,<0.6
whitenoise>=5.0,<5.1
