{% extends 'index.html' %}

{% load widget_tweaks %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const authorInput = document.getElementById("id_author");
            authorInput.value = '';
            const isbnInput = document.getElementById("id_isbn");
            isbnInput.value = '';
        })
    </script>
{% endblock %}

{% block title %}
    Update to books
{% endblock %}

{% block body %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}
