{% extends 'index.html' %}

{% load widget_tweaks %}

{% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const authorInput = document.getElementById("id_author");
            const authors = authorInput.value.match(/\s(?:\w+\s*\w*)/g);
            authorInput.value = authors.join();
            const isbnInput = document.getElementById("id_isbn");
            const isbns = isbnInput.value.match(/\s(?:\w+\s*\w*)/g);
            isbnInput.value = isbns.join()
        })
    </script>
{% endblock %}

{% block title %}
    Update to books
{% endblock %}

{% block body %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}
